body {
    display:flex;
    flex-direction:column;
    //background-image:url('img/bcg2.jpg');
    background-color:grey;
    margin:0 28%;
}

#barre, #jeu {
    border: 5px solid black;
    width:1040px;
}

#barre {
    display:flex;
    background-color:grey;
    flex-direction:row;
}

#player {
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
}

#weapon {
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
}

#boat{
	position:absolute;
	z-index:2;
}

#jeu {
    position:relative;/*
    zoom: 0.75;
    -moz-transform: scale(0.75);*/
    height:1040px;
}


#infos,#boutons {
    display:flex;
    flex-direction:column;
    width:300px;
    margin:0 auto;
    text-align:center;
}

#LPimg {
	width:300px;
	height:100px;
}

h3 {
    text-decoration:underline;
}
