body {
    display:flex;
    flex-direction:row;
}

#jeu {
    flex:1;
}

#jeu,#infos {
    border-right: 5px solid black;
}

#infos,#boutons {
    display:flex;
    flex-direction:column;
    width:300px;
    margin:0 auto;
    text-align:center;
}

h3 {
    text-decoration:underline;
}