body {
    display:flex;
    flex-direction:row;
    margin:0;
}

#player {
	position:absolute;
	width:16px;
	height:16px;
	top:0px;
	left:0px;
}	

#jeu {
    flex:1;
    position:relative;
}

#jeu,#infos {
    border-right: 5px solid black;
}

#infos,#boutons {
    display:flex;
    flex-direction:column;
    width:300px;
    margin:0 auto;
    text-align:center;
}

h3 {
    text-decoration:underline;
}
